# 1.	Import the necessary package to
a.	Set the current working directory
b.	Change the working directory

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\Acer\\Desktop\\Inceptez\\Python\\Basics'

In [14]:
os.chdir('C:\\Users\\Acer\\Desktop\\Inceptez')

In [15]:
os.getcwd()

'C:\\Users\\Acer\\Desktop\\Inceptez'

# 2. create the string, int and float variable and delete them all in the next cell

In [30]:
strvar = ('koushiya')

In [31]:
print(strvar)

koushiya

In [33]:
intvar = (1,2,-4)

In [34]:
print(intvar)

(1, 2, -4)

In [4]:
floatvar = (5.25)

In [5]:
print(floatvar)

5.25

In [11]:
del(strvar, intvar, floatvar)

NameError: name 'strvar' is not defined

# 3.	What’s the result of assigning a value to a ‘keyword’?

In [ ]:
pass= "100"

In [13]:
print(pass)

SyntaxError: invalid syntax (Temp/ipykernel_9944/635316705.py, line 1)

# 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [16]:
p = """python1
python2
python3"""

In [17]:
print(p)

python1
python2
python3

# 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [3]:
for i in range(100,999,8):
    print(i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

# 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [1]:
n=[10,0,40]
[a for a in n if a /2]

[10, 40]

# 7.	Write a simple function and call the docstring from outside the function

In [8]:
def my_function():
    """Doc string for my function."""
print (my_function.__doc__)

Doc string for my function.

# 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [16]:
odd_num = [i for i in range(100) if i %3 ==0]

odd_num

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

# 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran
b.	Output = [‘m’, ‘r’, ‘n’]

In [18]:
name = 'koushiya'
vowels =['a', 'e', 'i', 'o', 'u']
[i for i in name if i not in vowels]

['k', 's', 'h', 'y']